# This is the config file to configure lombok annotations with the available options.

lombok.nonNull.exceptionType = IllegalArgumentException
#lombok.nonNull.flagUsage = warning
# We can configure the above property with warning or error.
# If configured as warning, the warning appears during the build.
# If configured as error, the error occurs when the application starts.
